*::selection {
  background-color: #84d6fd;
}
body {
  font-family: "Montserrat Alternates", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: unset;
  font-size: unset;
}
ul {
  padding: 0;
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  outline: none;
}
@media (min-width: 1200px) {
  a:focus {
    border: 3px dotted #ea736d;
  }
}
button,
input {
  border: none;
  outline: none;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding: 0 15px;
  }
}
.row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}
.row.row__sb {
  justify-content: space-between;
}
.row__myskills {
  margin-top: -95px;
  padding-top: 80px;
}
.title {
  color: #000;
  font-weight: 800;
}
.title.title__section {
  font-size: 42px;
}
@media (min-width: 768px) {
  .title.title__section {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title.title__section {
    font-size: 64px;
  }
}
.title-line {
  position: relative;
  z-index: 0;
}
.title-line::before {
  position: absolute;
  right: -5px;
  bottom: 10%;
  left: -5px;
  z-index: -1;
  height: 10px;
  background-color: #039be5;
  content: "";
}
.title-line.title-line--lg::before {
  right: -2px;
  bottom: 12%;
  left: -2px;
  height: 12px;
}
@media (min-width: 1200px) {
  .title-line.title-line--lg::before {
    bottom: 17%;
  }
}
.title-line.title-line--sm::before {
  right: 0;
  bottom: 10%;
  left: 0;
  display: none;
  height: 7px;
  transition: background-color 0.5s ease-in-out;
}
@media (min-width: 1200px) {
  .title-line.title-line--sm::before {
    display: block;
  }
}
.link {
  padding: 8px 0;
  color: #000;
}
.link span {
  border-bottom: 1px solid #000;
  transition: color 0.2s ease, border-color 0.2s ease;
}
.link:hover span {
  color: #039be5;
  border-color: #039be5;
}
.link:active span {
  color: #ea736d;
  border-color: #ea736d;
}
.icon-github:hover path,
.icon-github:focus path {
  fill: #6cc644;
}
.btn {
  display: inline-block;
  height: 54px;
  padding: 10px 36px 0;
  font-weight: 700;
  font-size: 20px;
  border-radius: 30px;
  transition: color 0.2s ease, border 0.2s ease;
}
@media (min-width: 1200px) {
  .btn {
    height: 64px;
    font-size: 22px;
  }
  .btn:focus {
    border: 4px dotted #ea736d;
  }
}
.btn-filled {
  color: #000;
  background-color: #039be5;
  border: 4px solid transparent;
  transition: background-color 0.2s ease;
}
.btn-filled:hover {
  color: white;
  background-color: #6cc644;
}
.btn-filled:active {
  color: #000;
  background-color: #0279b3;
}
.btn-empty {
  color: #464646;
  border: 4px solid #464646;
  transition: color 0.2s ease, border 0.2s ease;
}
.btn-empty:hover {
  color: #ffffff;
  border-color: #797979;
  background-color: black;
}
.btn-empty:active {
  color: #181818;
  border-color: #181818;
}
.icon-vk:hover path,
.icon-vk:focus path {
  fill: #4680c2;
}
.icon-github:hover path,
.icon-github:focus path {
  fill: #6cc644;
}
.contacts-icons {
  display: flex;
}
@media (min-width: 1200px) {
  .contacts-icons {
    padding-left: 6px;
  }
}
.contacts-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  overflow: hidden;
  border-radius: 50%;
  transition: box-shadow 0.2s ease;
  user-select: none;
}
.contacts-icon:last-child {
  margin-right: 0;
}
.contacts-icon__vk {
  background-color: #4680c2;
}
.contacts-icon__vk img {
  width: 32px;
  height: 32px;
}
.contacts-icon__vk:hover,
.contacts-icon__vk:focus,
.contacts-icon__vk:active {
  border: none;
  box-shadow: 0 0 20px #4680c2;
}
.contacts-icon__github {
  background-color: #fff;
}
.contacts-icon__github img {
  max-width: 110%;
}
.contacts-icon__github:hover,
.contacts-icon__github:focus,
.contacts-icon__github:active {
  border: none;
  box-shadow: 0 0 20px #181818;
}
.contacts-icon__discord {
  background-color: #fff;
}
.contacts-icon__discord img {
  max-width: 110%;
  margin-top: 6px;
}
.contacts-icon__discord:hover,
.contacts-icon__discord:focus,
.contacts-icon__discord:active {
  border: none;
  box-shadow: 0 0 20px #7289da;
}
.header {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 113px 0 100px;
}
@media (min-width: 768px) {
  .header {
    padding: 150px 0 155px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 266px 0 238px;
    background-image: url("../../img/lines-5.jpg");
    background-position: center;
    background-size: contain;
  }
}
#page-nav {
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 100;
  display: none;
  transform: translateY(-50%);
}
@media (min-width: 1200px) {
  #page-nav {
    display: block;
  }
}
#page-nav li {
  width: 14px;
  height: 14px;
  margin-bottom: 26px;
  background-color: #039be5;
  border-radius: 50%;
  transition: 0.5s ease;
}
#page-nav li a {
  display: block;
  height: 100%;
}
#page-nav li a:focus {
  border: none;
}
#page-nav li:hover {
  background-color: #ea736d;
}
#page-nav .current {
  background-color: #ea736d;
}
.navbar-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .navbar-wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1200px) {
  .navbar-wrapper {
    padding: 0 15px;
  }
}
.header-coder {
  z-index: 1;
  flex: 0 1 50%;
}
@media (min-width: 768px) {
  .header-coder {
    flex: 0 1 44%;
  }
}
@media (min-width: 1200px) {
  .header-coder {
    flex: 0 1 50%;
  }
}
.header-coder__title {
  margin-bottom: 30px;
  font-size: 42px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .header-coder__title {
    margin-bottom: 20px;
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .header-coder__title {
    margin-bottom: 15px;
    font-size: 90px;
  }
}
.header-coder__desc {
  z-index: 1;
  margin-bottom: 32px;
  color: #393f47;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .header-coder__desc {
    margin-bottom: 15px;
    font-size: 24px;
  }
}
.header-coder__greeting {
  margin-right: 17px;
}
.header-coder .btn {
  display: none;
}
@media (min-width: 1200px) {
  .header-coder .btn {
    display: inline-block;
  }
}
.header-avatar {
  position: relative;
  z-index: 2;
  flex: 0 1 50%;
  order: -1;
  max-width: 460px;
  max-height: 433px;
  margin-bottom: 50px;
  overflow: hidden;
  user-select: none;
}
.header-avatar a {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-weight: 700;
  font-size: 24px;
  text-shadow: 0 0 5px #000;
  transition: color 0.4s ease;
}
.header-avatar a:focus {
  margin: -3px;
  border: dashed 3px #039be5;
  box-shadow: inset 0 0 30px #000;
  transition: box-shadow 0.4s ease, border-color 0.4s ease;
}
.header-avatar a:active {
  color: #ea736d;
  transition: color 0.4s ease;
}
@media (min-width: 768px) {
  .header-avatar {
    flex: 0 1 44%;
    order: unset;
    padding: 10px 25px 0;
  }
  .header-avatar a {
    bottom: 20px;
    left: 40px;
  }
}
@media (min-width: 1200px) {
  .header-avatar {
    flex: 0 1 50%;
    margin-bottom: 0;
    padding: 27px 0 0;
  }
  .header-avatar::before {
    position: absolute;
    top: 20%;
    right: 0;
    left: 25%;
    z-index: -1;
    width: 75%;
    height: 100%;
    background: linear-gradient(90deg, #f4f8f9 0%, rgba(244, 248, 249, 0) 100%);
    opacity: 0.5;
    content: "";
  }
  .header-avatar a {
    bottom: 30px;
    left: 20px;
  }
}
.header-background-img {
  z-index: 2;
  max-width: 1600px;
  margin: 0;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}
.header-background-img img {
  margin-bottom: 40px;
  transform: scale(1.5);
}
@media (min-width: 540px) {
  .header-background-img img {
    margin-bottom: 0;
    transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .header-background-img {
    margin: -125px auto 0;
  }
}
.header-experience {
  z-index: 1;
  flex: 1 1 60%;
}
.header-experience__title {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 30px;
}
@media (min-width: 768px) {
  .header-experience__title {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .header-experience__title {
    font-size: 40px;
  }
}
.header-experience__desc {
  margin-bottom: 0;
  font-size: 18px;
}
.header-experience__desc li {
  margin-bottom: 15px;
}
.header-experience__desc li::first-letter {
  text-transform: capitalize;
}
@media (min-width: 1200px) {
  .header-experience__desc {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .header-experience__desc li {
    margin-bottom: 3px;
  }
  .header-experience__desc li::before {
    content: "— ";
  }
  .header-experience__desc li::first-letter {
    text-transform: none;
  }
}
.header-experience .btn {
  display: none;
}
@media (min-width: 1200px) {
  .header-experience .btn {
    display: inline-block;
  }
}
.header-contacts {
  flex: 0 1 32%;
}
.header-contacts__title {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 30px;
}
@media (min-width: 768px) {
  .header-contacts__title {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .header-contacts__title {
    margin-bottom: 32px;
    font-size: 40px;
  }
}
.header-contacts__icons {
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .header-contacts__icons {
    margin-bottom: 23px;
  }
}
.header-contacts__email {
  font-size: 18px;
}
.header-contacts__email span {
  color: #039be5;
  border-color: #039be5;
}
@media (min-width: 768px) {
  .header-contacts__email {
    font-size: 20px;
  }
  .header-contacts__email span {
    color: unset;
    border-color: unset;
  }
}
@media (min-width: 1200px) {
  .header-contacts__email {
    padding-left: 6px;
    font-size: 24px;
  }
}
.header-contacts__email:focus {
  margin: -3px;
}
/*# sourceMappingURL=main.css.map */