body {
	font-family: "Montserrat Alternates", sans-serif;
}

img {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
	font-weight: unset;
	font-size: unset;
}

ul {
	padding: 0;
	list-style: none;
}

a,
a:hover {
	text-decoration: none;
	outline: none;
}

a:focus {
	@media (min-width: 1200px) {
		border: 3px dotted @scarlet;
	}
}

button,
input {
	border: none;
	outline: none;
}
.none {
	display: none;
}

.fix-menu.active {
	position: fixed;
	height: 90px;
	padding-top: 20px;
	left: 0;
	top: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(244, 248, 249, 0.75);
	backdrop-filter: blur(7px);
	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.45);
}
#page-nav {
	display: none;
	// Десктоп
	@media (min-width: 1200px) {
		display: block;
		position: fixed;
		z-index: 100;
		right: 64px;
		top: 39%;
	}
}

#page-nav li {
	width: 14px;
	height: 14px;
	background-color: rgb(234, 115, 109);
	border-radius: 50%;
	margin-bottom: 25px;
	transition: 0.5s;
}

#page-nav li a {
	display: block;
	height: 100%;
}

#page-nav li.active {
	background-color: rgb(137, 180, 203);
	box-shadow: 0px 0px 15px 0px rgba(11, 95, 139, 0.712);
}

#backTop a {
	color: rgb(234, 115, 109);
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 40px;
	transition: 0.5s;

	&:hover {
		color: var(--mailhov);
	}
}

.container {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;

	@media (min-width: 576px) {
		max-width: 540px;
		padding-left: 0;
		padding-right: 0;
	}

	// Планшет
	@media (min-width: 768px) {
		max-width: 720px;
	}

	@media (min-width: 992px) {
		max-width: 960px;
	}

	// Десктоп
	@media (min-width: 1200px) {
		max-width: 1140px;
		position: relative;
		z-index: 2;
	}
}

.title2 {
  font-size: 42px;
  font-weight: 800;

  // Планшет
  @media (min-width: 768px) {
    font-size: 52px;
  }

  // Десктоп
  @media (min-width: 1200px) {
    font-size: 64px;
    text-align: center;
  }
}
.title2 h1 {
    font-size: 42px;
    font-weight: 800;
  
    // Планшет
    @media (min-width: 768px) {
      font-size: 52px;
    }
  
    // Десктоп
    @media (min-width: 1200px) {
      font-size: 64px;
      text-align: center;
    }
  }
.fa-angle-double-up{
    &::before{
        // Десктоп
  @media (min-width: 1200px) {
    display: none;
  }
    }
}
